:root{
    --coffee-color:#E9B44C;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background-color: #2E2622;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
    
}
header nav h1{
    color: var(--coffee-color);
    font-size: 26px;
    font-weight: 700px;
}
header nav ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600px;
}
header nav ul li a:hover{   
    color: rgb(143, 161, 238);    
}
/* end nav section style */
/* start hero section style */
.hero{
    height: 90vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./image/bg-image.avif");
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.hero .hero-content{   
    color: white;
    text-align: center;
    display: grid;
    gap: 20px;
}
.hero .hero-content h5{
    color: var(--coffee-color);
    font-size: 14px;
    font-weight: 500px;
}
.hero .hero-content p{
    color: white;
    font-size: 17px;
    font-weight: 500px;
}
.hero .hero-content h2{
     color:  white;
    font-size: 52px;
    font-weight: 700px;
}
.hero .hero-content button{
    max-width: 20%;
    margin-left: 40%;
    padding: 14px 0;
    border-radius: 18px;
    background-color: #E9B44C;
  }
  /* our story section start  */
  .our-story .main-content{
    padding: 80px 0;
    display: flex;
    gap: 20px;
  }
.our-story .main-content div img{
    width: 100%;
    border-radius: 10px;
}
.our-story .main-content .text-area{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}
.our-story .main-content .text-area h2{
    font-size: 30px;
    font-weight: 700px;
}
.our-story .main-content .text-area p{
    color: #5A4F47;
    font-size: 20px;
    font-weight: 500px;
}
.our-story .main-content .text-area button{
    max-width: 25%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--coffee-color);
    font-size: 20px;
}
/* end our story section style */
/* start popular section style */
.popular{
    background-color: #F1E7D8;
    padding: 80px 0px;
    text-align: center;
}
.popular div p{
    font-size: 13px;
    font-weight: 500px;
    color: var(--coffee-color);
}
.popular div h1{
    margin-bottom: 50px;
    font-size: 50pxpx;
    font-weight: 700px;
}
.popular .popular-bottom{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;

}
.popular .popular-card{
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
/* end popular section style */
/* START WHY US section style */
.why-us{   
    padding: 80px 0px;
    text-align: center;
}
.why-us div p{
    font-size: 13px;
    font-weight: 500px;
    color: var(--coffee-color);
}
.why-us div h1{
    margin-bottom: 50px;
    font-size: 50pxpx;
    font-weight: 700px;
}
.why-us .why-us-botom{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;

}
.why-us .service-card{
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.why-us .service-card  p{
    color: #2E2622;
    font-size: 16px;
    font-weight: 500px;
}
/* START WHY US section style */
/* START schedule section style */
.schedule{   
    padding: 80px 0px;
    text-align: center;
    display: flex;
}
.schedule div p{
    font-size: 13px;
    font-weight: 500px;
    color: var(--coffee-color);
}
.schedule div h1{
    margin-bottom: 50px;
    font-size: 50pxpx;
    font-weight: 700px;
}
.schedule .schedule-table{
    
}
.schedule .schedule-table table{
    border-collapse: collapse;
    max-width: 500px;
    
}
.schedule .schedule-table table th{
    color: var(--coffee-color);
    background-color: #1a1919;
    font-size: 30px;
    font-weight: 700px;
    padding: 5px 30px;
}
.schedule .schedule-table table td{
    padding: 5px 30px;
    border: 1px solid rgb(56, 53, 53);
}
/* end schedule section style */
/* start ending-badge section style */
.ending-badge{
    margin: 80px 0;
    position: relative;      
}
.ending-badge div img{
    width: 100%;
    height: 380px;
    object-fit: cover;
}
.ending-badge-massage-1{
    padding: 11.5px 20px;
    position: absolute;
    bottom: 25px;
    left: 25px;    
    background-color: #FFFFFF;
    border-radius: 10px;
}
.ending-badge-massage-1 h4{
    color: #2E2622;
    font-size: 16px;
    font-weight: 700px;
}
.ending-badge-massage-1 p{
    color: #5A4F47;
    font-size: 13px;
    font-weight: 500px;
}
.ending-badge-massage-2{
    padding: 11.5px 20px;
    position: absolute;
    top: 25px;
    right: 25px;    
    background-color: #FFFFFF;
    border-radius: 50%;
}
.ending-badge-massage-2 h4{
    color: #2E2622;
    font-size: 16px;
    font-weight: 700px;
}
.ending-badge-massage-2 p{
    color: #5A4F47;
    font-size: 13px;
    font-weight: 500px;
}
/* end ending-badge section style */
/* start footer section style */
.footer{
    background-color: #2E2622;
}
.footer .footer-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer .footer-main{
    padding: 30px 100px;
     color: white;     
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.footer .footer-main ul {
    text-align: center;
    list-style-type: none;
}
.footer .footer-main ul li a{
    text-decoration: none;
    color: white;
}
.footer .footer-main ul li a:hover{   
    color: rgb(91, 105, 233);
}
.footer .footer-bottom hr{   
    border: none;
    border-top: 1px solid gray;
}
.footer .footer-bottom p{
    padding: 26px 0;
    text-align: center;
   color: white;
}
/* end footer section style */