:root{
    --coffee-color:#E9B44C;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background-color: #2E2622;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
    
}
header nav h1{
    color: var(--coffee-color);
    font-size: 26px;
    font-weight: 700px;
}
header nav ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600px;
}
header nav ul li a:hover{   
    color: rgb(143, 161, 238);    
}
/* end nav section style */
/* start hero section style */
.hero{
    height: 90vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./image/bg-image.avif");
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.hero .hero-content{   
    color: white;
    text-align: center;
    display: grid;
    gap: 20px;
}
.hero .hero-content h5{
    color: var(--coffee-color);
    font-size: 14px;
    font-weight: 500px;
}
.hero .hero-content p{
    color: white;
    font-size: 17px;
    font-weight: 500px;
}
.hero .hero-content h2{
     color:  white;
    font-size: 52px;
    font-weight: 700px;
}
.hero .hero-content button{
    max-width: 20%;
    margin-left: 40%;
    padding: 14px 0;
    border-radius: 18px;
    background-color: #E9B44C;
  }
  /* our story section start  */
  .our-story .main-content{
    padding: 80px 0;
    display: flex;
    gap: 20px;
  }
.our-story .main-content div img{
    width: 100%;
    border-radius: 10px;
}
.our-story .main-content .text-area{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}
.our-story .main-content .text-area h2{
    font-size: 30px;
    font-weight: 700px;
}
.our-story .main-content .text-area p{
    color: #5A4F47;
    font-size: 20px;
    font-weight: 500px;
}
.our-story .main-content .text-area button{
    max-width: 25%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--coffee-color);
    font-size: 20px;
}
/* end our story section style */
/* start popular section style */
.popular{
    background-color: #F1E7D8;
    padding: 80px 0px;
    text-align: center;
}
.popular div p{
    font-size: 13px;
    font-weight: 500px;
    color: var(--coffee-color);
}
.popular div h1{
    margin-bottom: 50px;
    font-size: 50pxpx;
    font-weight: 700px;
}
.popular .popular-bottom{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;

}
.popular .popular-card{
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
/* end popular section style */